[bumpversion]
current_version = 0.6.2
commit = True
tag = True

[bumpversion:file:doc/conf.py]
search = release = '{current_version}'
replace = release = '{new_version}'

[bumpversion:file:AstroPhotography/__version__.py]

[bumpversion:file:pyproject.toml]
search = version='{current_version}'
replace = version='{new_version}'
