## Python requirements for using the AstroPhotography application.
##
##   python3 -m pip install . --requirement=requirements.txt
##
PyYAML>=3.11
matplotlib>=3.0.3
numpy>=1.16.2
rawpy>=0.13.1
imageio>=2.5.0
pytest>=5.2.1
pytest-cov>=2.8.1  
coverage>=5.0.3
astropy>=4.0
astroplan>=0.7
astroquery>=0.4.1
astroscrappy>=1.0.7
ccdproc>=2.1.0
photutils>=0.7.2
regions>=0.4
sphinx-astropy
sphinx-argparse
ExifRead>=2.3.2     # Read RAW file exif data
