# Runtime dependencies for AstroPhotography
PyYAML>=3.11
matplotlib>=3.0.3
numpy>=1.16.2
rawpy>=0.13.1
imageio>=2.5.0
astropy>=7.0
regions>=0.8
astroplan>=0.7
astroquery>=0.4.1
astroscrappy>=1.0.7
ccdproc>=2.1.0
photutils>=0.7.2
ExifRead>=2.3.2     # Read RAW file exif data
